# ==========================
# GLOBAL / OS
# ==========================
.DS_Store
Thumbs.db
.env
.venv
env/
venv/
*.log

# ==========================
# BACKEND (PYTHON / DJANGO)
# ==========================
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.env

# Python compilation
__pycache__/
*.py[cod]
*$py.class

# ==========================
# FRONTEND (FLUTTER)
# ==========================
# Standard Flutter ignores
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.packages
frontend/pubspec.lock

# Android specific
frontend/android/local.properties
frontend/android/.gradle
frontend/android/app/build
frontend/android/.idea
frontend/android/key.properties

# iOS specific
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh
frontend/ios/Pods/
frontend/ios/.symlinks/

# IDE Settings
.idea/
.vscode/
*.iml